                              PRACTICAL 6
OBJECTIVE:
    
Implement titanic survival predicting using Naive B ayes algorithm.

CODE:

In [18]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [19]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [20]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [21]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [22]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [23]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [24]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [25]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [26]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [28]:
model.score(X_test,y_test)

0.8097014925373134

In [29]:
X_test[0:10]

     Pclass        Age      Fare  female
278       3   7.000000   29.1250   False
476       2  34.000000   21.0000   False
602       1  29.699118   42.4000   False
147       3   9.000000   34.3750    True
336       1  29.000000   66.6000   False
701       1  35.000000   26.2875   False
779       1  43.000000  211.3375    True
457       1  29.699118   51.8625    True
254       3  41.000000   20.2125    True
775       3  18.000000    7.7500   False

In [30]:
y_test[0:10]

278    0
476    0
602    0
147    0
336    0
701    1
779    1
457    1
254    0
775    0
Name: Survived, dtype: int64

In [31]:
model.predict(X_test[0:10])

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 0], dtype=int64)

In [32]:
model.predict_proba(X_test[:10])

array([[9.43334958e-01, 5.66650424e-02],
       [9.25907043e-01, 7.40929574e-02],
       [7.08246452e-01, 2.91753548e-01],
       [3.68030606e-01, 6.31969394e-01],
       [5.42785563e-01, 4.57214437e-01],
       [7.53464080e-01, 2.46535920e-01],
       [5.03064943e-08, 9.99999950e-01],
       [6.35061864e-02, 9.36493814e-01],
       [4.75473769e-01, 5.24526231e-01],
       [9.58463258e-01, 4.15367423e-02]])

In [33]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.768     , 0.776     , 0.776     , 0.77419355, 0.75      ])